.search-component {
  
  margin: auto;
  text-align: center;
  display: block;
}

.searchbar-component {
  display: block;
}

button {
  border-radius: 50%;
  border: none;
  text-align: center;
  background: white;
  color: #4DB3E6;
  font-size: 4em;
  line-height: 2.5em;
  margin-top: 10%;
}

.item {
  background: #cccccc;
  color: black;
}

.item_even {
  background: #f2f2f2;
  color: black;
}

.item:hover, .item_even:hover {
  background: #737373;
  color: #f2f2f2;
}

.linklist-component {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width:30%;
}